prefix = "uds-sbx"
ami_id = "ami-xxx"
cumulus_lambda_vpc_id = "vpc-xxx"
image_tag="9.6.0"
subnet_ids = ["subnet-private-subnet-id-1", "subnet-private-subnet-id-2"]
shared_services_ec2_subnet_cidr = "10.52.0.0/16"
alb_subnet_cidr = "10.52.0.0/16"